.item {
    margin-bottom: 15px;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgba(29, 76, 146, 0.733);
    color: #fff;
}
.btn:hover{
    background-color: red;
    color: #fff;
}

.itemText{
    margin-right: 10px;
    font-style: italic;
    color: aqua;
}

.list{
    list-style: decimal;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.text {
    width: 235px;
}