.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 10px;
    text-decoration: none;
}

.link:hover {
    color: #fff;
    background: rgb(8, 7, 36);
    background: linear-gradient(90deg, rgba(8, 7, 36, 1) 0%, 
    rgba(76, 76, 221, 1) 33%, 
    rgba(69, 69, 191, 1) 69%, 
    rgba(52, 52, 208, 1) 85%);
}

.active {
    background-color: aqua;
    color: #2e2626;
}

